@namespace WebAssemblyApp.Components

<div class="mt-4" />
<span>Mode view</span>

<MudToggleIconButton @bind-Toggled="@AlarmOn"
                     Icon="@Icons.Material.Filled.GridView" Color="@Color.Primary" Title="Off"
                     ToggledIcon="@Icons.Material.Filled.TableView" ToggledColor="@Color.Primary" ToggledTitle="On" />
@if (AlarmOn)
{
    <PlanCardList FetchPlans="GetPlansAsync"
                  OnViewClicked="ViewPlan"
                  OnEditClicked="EditPlan" 
                  OnDeleteClicked="DeletePlan"/>
}
else
{
    <PlansTable OnViewClicked="ViewPlan"
                OnEditClicked="EditPlan" 
                OnDeleteClicked="DeletePlan"/>
}

@code {
    public bool AlarmOn { get; set; }
}
